*{
font-family: 'Playfair Display', serif;
padding: 0;
margin: 0;


}
header {
    background-color:#bee3f9;
    padding-top: 10px;
    padding-bottom: 10px;
}
header nav{
    text-align: right;
    
 }

 header nav ol {
    display: inline-block;
 }
 header nav ol li{
    color:#0c2c45;
    display: inline;
    padding-top:10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px; 
    font-size: 20px;

 }
 header nav ol li:hover{ 
    background-color:#1c97d9;
    color: rgb(255, 255, 255);
    cursor: pointer;
 }
 
 